/** Estilos Panel de juego --- START**/

.game {
    display: flex;
    align-items: center;

    flex-direction: column;
}
.user {
    margin-top: 32px;
}

.board {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
}

.board-row {
    display: flex;
    flex: 1;
}

.sqare {
    flex: 1;
    background-color: #00acc1;
    border: 2px solid #fff;
    position: relative;
    font-size: 60px;
    color: aliceblue;
}

.sqare:hover {
    background-color: #007c91;
}


.antialiased{
    background: #e3f2fd;;
}

.name-user{
    font-size:30px;
    display: inline-flex;
    flex-direction: column;
}

.fa.fa-user-secret{
    font-size:30px;
    color: #0097a7;
}
.fa.fa-android{
    font-size:30px;
    color: #0097a7;
}
.player-turn{
    font-size:45px;
}

.new-game{
    display: none;
    background-color: #00acc1;
    position: relative;
    font-size: 25px;
    color: aliceblue;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}
.new-game:hover {
    background-color: #007c91;
}
/** Estilos Panel de juego --- END**/

/** Estilos MENU de juego --- START**/
.title-game{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, serif;
    font-size: 50px;

}
.pannel-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.option-button{
    border: 5px solid #00acc1   ;
    margin: auto;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    display: inline-flex;
}

.link-game{
    -moz-appearance: button;
    font-size: 50px;
    text-decoration: none;
    margin: 10px;
    border: 10px solid #007c91;
    background: #5ddef4;
    color: aliceblue;
    padding: 10px;
}

.link-game:hover{
    background-color: #007c91;
}

.button-back{
    -moz-appearance: button;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    border: 2px solid #007c91;
    background: #5ddef4;
    color: aliceblue;
    padding: 5px;
}
.button-back:hover{
    background-color: #007c91;
}
/** Estilos MENU de juego --- END**/
