.game {
    display: flex;
    align-items: center;
    margin-top: 160px;
    flex-direction: column;
}
.user {
    margin-top: 32px;
}
.board {
    display: flex;
    width: 600px;
    height: 600px;
    flex-direction: column;
}
.board-row {
    display: flex;
    flex: 1;
}
.sqare {
    flex: 1;
    background-color: #26c6da;
    border: 2px solid #fff;
    position: relative;
}
